@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

body {
  @apply transition-colors duration-300;
}

.dark body {
  @apply bg-backgroundDeep text-textPrimary;
}

.light body {
  @apply bg-gray-50 text-gray-900;
}

/* Custom Scrollbar for Dark Mode */
.dark .custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.dark .custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(15, 23, 42, 0.1);
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

/* Custom Scrollbar for Light Mode */
.light .custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.light .custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
}
.light .custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* No Scrollbar Utility */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
